.Search-container {
  height: 100%;

  .Search {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
    margin-top: 5px;

    img {
      align-self: flex-end;
      padding: 3em;
      height: 230px;
    }

    .Search-title {
      background-image: linear-gradient(90deg, #a35bcd, #1b60db 80%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 3.6rem;
      max-width: 26rem;
      position: absolute;
      top: 1.5em;
      left: 1em;
      font-weight: 600;
    }

    .Search-copy-url {
      width: 145px;
      margin: 10px 50px;
      background-color: #1b60db;
      border: none;
      color: white;
      padding: 5px;
      cursor: pointer;
      font-size: 11px;
    }

    @media screen and (max-width: 600px) {
      .title {
        display: none;
      }
    }
  }
}
